<nav>
  <div class="logo">
    <img id="site-logo" src="assets/icons/logoWHITE.svg" alt="BookyTrans" />
  </div>

  <ul class="nav-links">
    <li><a data-target="Home/home.html">Home</a></li>
    <li><a data-target="Books/BookListing/BooksListing.html">Community</a></li>
    <li><a data-target="contact-us-how-it-works/how-it-works.html">How it Works</a></li>
    <li><a data-target="contact-us-how-it-works/contact.html">Contact Us</a></li>
  </ul>

  <div class="auth-links" id="authButtons">
    <button class="login-btn" data-target="Authentication/Login/login.html">Log In</button>
    <button class="signup-btn" data-target="Authentication/Signup/signup.html">Sign Up</button>
  </div>

  <div class="user-profile" id="userProfile" style="display: none;">
    <button class="upload-btn" data-target="Profile/profile.html">Upload a book</button>
    <img src="/frontend/assets/profile.jpg" alt="User" class="topnav-avatar" data-target="Profile/profile.html">
  </div>

  <div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div>
</nav>

<div class="mobile-menu" id="mobileMenu">

  <ul>
    <li><a data-target="Home/home.html">Home</a></li>
    <li><a data-target="Books/BookListing/BooksListing.html">Community</a></li>
    <li><a data-target="contact-us-how-it-works/how-it-works.html">How it Works</a></li>
    <li><a data-target="contact-us-how-it-works/contact.html">Contact Us</a></li>
  </ul>

</div>
