<!-- Reusable header component: nav + mobile menu -->
<nav>
    <div class="logo">BookyTrans</div>
    <ul class="nav-links">
        <li><a href="">Community</a></li>
        <li><a href="">How it Works</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>

    <div class="login-signup">
        <button class="login-btn">Log In</button>
        <button class="signup-btn">Sign Up</button>
    </div>
    <div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div>
</nav>
<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-logo">BookyTrans</div>
  <ul>
    <li><a href="">Community</a></li>
    <li><a href="">How it Works</a></li>
    <li><a href="">Contact Us</a></li>
  </ul>
</div>
